body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Mukta", sans-serif;
}

.table td {
  vertical-align: inherit;
}

::-webkit-scrollbar {
  width: 5px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 2px;
}
